<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <title>Confirmation Email</title>
</head>
<body>
<p th:text="${'Hello ' + username}">
<p>Thanks for creating an account. To complete the registration process please click on the following link.</p>
<p th:text="${link}">

<p>You can ignore this email if you didn't register.</p>

<p>Best regards<br></p>
<p>Example Team</p>
</body>
</html>